.container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#task-card{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem; 
    height: 100px;
    width: 100%;
    max-width: 400px;
}

#task-card h2 {
    margin: 0.25rem;
    font-size: 1.5rem;
    color: #333;
}

#task-card p {
    margin: 0.25rem 0;
    color: #666;
}

#task-card p:last-child {
    font-weight: bold;
    color: #111;
}

#task-complete {
    align-self: center;
    margin-left: 1rem;
    width: 20px;
    height: 20px;
}

.completed #task-card {
    background-color: #8ed687;
}

/* TaskApp CSS */
#task-count {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #222;
}

#task-list {
    justify-content: baseline;
}

/* Task Form CSS */
#form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    background-color: #d3bde3;
    padding: 0.75rem;
    width: 100%;
    height: 35px;
    max-width: 450px;
    border-radius: 4px;
}

#form input, #form textarea, #form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.75rem;
    font-family: inherit;
}

#form button {
    background-color: #762ea3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.55rem;
    font-family: inherit;
    width: 60px;
    font-weight: bold;
}